### LM/BG-тест

###  Задача 2.1

In [31]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/e-tanicheva/Econometrica/master/python-notebooks/data-csv/Consumption.csv')
df

     Unnamed: 0        yd      ce
0             1   59505.0   57168
1             2   59717.4   55464
2             3   59039.1   56332
3             4   61342.6   55836
4             5   60544.6   54488
..          ...       ...     ...
195         196  390576.6  359372
196         197  391381.5  363896
197         198  389502.6  364428
198         199  388282.1  366224
199         200  388804.1  371236

[200 rows x 3 columns]

In [33]:
df['log_yd'] = np.log(df['yd'])
df['log_ce'] = np.log(df['ce'])
df.diff() #разность изменения одного столбца с другим, следующее измерение минус предыдущее

     Unnamed: 0      yd      ce    log_yd    log_ce
0           NaN     NaN     NaN       NaN       NaN
1           1.0   212.4 -1704.0  0.003563 -0.030260
2           1.0  -678.3   868.0 -0.011423  0.015529
3           1.0  2303.5  -496.0  0.038275 -0.008844
4           1.0  -798.0 -1348.0 -0.013094 -0.024438
..          ...     ...     ...       ...       ...
195         1.0  2336.8    24.0  0.006001  0.000067
196         1.0   804.9  4524.0  0.002059  0.012510
197         1.0 -1878.9   532.0 -0.004812  0.001461
198         1.0 -1220.5  1796.0 -0.003138  0.004916
199         1.0   522.0  5012.0  0.001343  0.013593

[200 rows x 5 columns]

In [34]:
mdl = smf.ols(data = df.diff(), formula = 'log_yd~log_ce').fit()
mdl.params.round(2)

Intercept    0.01
log_ce       0.37
dtype: float64

In [41]:
res0 = mdl.resid #первые остатки, столбец pandas
res0.reset_index

<bound method Series.reset_index of 1      0.008827
2     -0.023126
3      0.035603
4     -0.009987
5     -0.004025
         ...
195    0.000028
196   -0.008526
197   -0.011302
198   -0.010909
199   -0.009642
Length: 199, dtype: float64>

In [42]:
res1 = res0.drop(labels =[1], axis = 0 ) #labels =[1], удаляем строку 1 из серии res0
res1.reset_index(drop=True)

0     -0.023126
1      0.035603
2     -0.009987
3     -0.004025
4      0.019736
         ...
193    0.000028
194   -0.008526
195   -0.011302
196   -0.010909
197   -0.009642
Length: 198, dtype: float64

In [43]:
res2 = res1.drop(labels = [2], axis = 0) #axis = 0, работаем со строкой, =1 - раюотаем со столбцом
res2.reset_index(drop=True)

0      0.035603
1     -0.009987
2     -0.004025
3      0.019736
4     -0.020565
         ...
192    0.000028
193   -0.008526
194   -0.011302
195   -0.010909
196   -0.009642
Length: 197, dtype: float64

In [44]:
res3 = res2.drop(labels = [3], axis = 0)
res3.reset_index(drop=True)

0     -0.009987
1     -0.004025
2      0.019736
3     -0.020565
4     -0.000112
         ...
191    0.000028
192   -0.008526
193   -0.011302
194   -0.010909
195   -0.009642
Length: 196, dtype: float64

In [58]:
df['res0']=res0.reset_index(drop=True)
df['res1']=res1.reset_index(drop=True)
df['res2']=res2.reset_index(drop=True)
df['res3']=res3.reset_index(drop=True)
df

,Unnamed: 0,yd,ce,log_yd,log_ce,res0,res1,res2,res3
0,1,59505.0,57168,10.993816,10.953750,0.008827,-0.023126,0.035603,-0.009987
1,2,59717.4,55464,10.997379,10.923489,-0.023126,0.035603,-0.009987,-0.004025
2,3,59039.1,56332,10.985955,10.939018,0.035603,-0.009987,-0.004025,0.019736
3,4,61342.6,55836,11.024230,10.930174,-0.009987,-0.004025,0.019736,-0.020565
4,5,60544.6,54488,11.011136,10.905736,-0.004025,0.019736,-0.020565,-0.000112
...,...,...,...,...,...,...,...,...,...
195,196,390576.6,359372,12.875379,12.792113,-0.008526,-0.011302,-0.010909,-0.009642
196,197,391381.5,363896,12.877438,12.804623,-0.011302,-0.010909,-0.009642,NaN
197,198,389502.6,364428,12.872626,12.806084,-0.010909,-0.009642,NaN,NaN
198,199,388282.1,366224,12.869487,12.811000,-0.009642,NaN,NaN,NaN
199,200,388804.1,371236,12.870831,12.824593,NaN,NaN,NaN,NaN

In [62]:
sub_mdl = smf.ols(data = df.dropna(), formula = 'res0~res1+res2+res3+log_ce.diff()').fit()
sub_mdl.rsquared

0.10802079408577325

In [63]:
sub_mdl.rsquared*(len(df)-3)

21.28009643489733

In [64]:
Hi2 = stats.chi2.ppf(1-0.01,3)
Hi2

11.344866730144373